{% extends 'base.html.twig' %}

{% block title %}Hello SubmitPostController!{% endblock %}

{% form_theme newMessageForm 'bootstrap_5_horizontal_layout.html.twig' %}

{% block body %}

    <h1>Création d'un nouveau post !</h1>

    {{ form_start(newMessageForm) }}

    <div class="form-container">
        <div class="label">
            {{ form_label(newMessageForm.title) }}
        </div>
        <div class="input">
            {{ form_widget(newMessageForm.title) }}
        </div>
        <div class="label">
            {{ form_label(newMessageForm.image) }}
        </div>
        <div class="input">
            {{ form_widget(newMessageForm.image) }}
        </div>
        <div class="label">
            {{ form_label(newMessageForm.content) }}
        </div>
        <div class="input">
            {{ form_widget(newMessageForm.content) }}
        </div>
        <div class="label">
            {{ form_label(newMessageForm.category) }}
        </div>
        <div class="input">
            {{ form_widget(newMessageForm.category) }}
        </div>
        <div class="form-button, text-align-right">
            <button type="submit">Poster</button>
        </div>



    </div>
    {{ form_end(newMessageForm) }}






{% endblock %}
